<!DOCTYPE html>
<html lang="">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title><%= car.name %> Specs</title>
    </head>
    <body>
        <h1><%= car.name %></h1>
        <p><strong>Engine:</strong> <%= car.engine %></p>
        <p><strong>Power:</strong> <%= car.power %></p>
        <p><strong>Price List:</strong> <%= car.pricelist %></p>
        
        <!--ADSENSE-->
        <div style ="margin-top: 20px;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-xxxxxxxxxxxxxxxx"
            data-ad-slot="xxxxxxxxxx"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push([]);
            </script>
    </div>
</body>
</html>
<!--<meta charset="UTF-8" />